<div *ngIf="pessoa">

  Nome<input [(ngModel)]="pessoa.nome"><br>
  CPF<input [(ngModel)]="pessoa.cpf"><br>
  Email<input [(ngModel)]="pessoa.email"><br>
  CEP<input [(ngModel)]="pessoa.endereco.cep"><br>
  Logradouro<input [(ngModel)]="pessoa.endereco.logradouro"><br>
  Número<input [(ngModel)]="pessoa.endereco.numero"><br>
  Complemento<input [(ngModel)]="pessoa.endereco.complemento"><br>
  Bairro<input [(ngModel)]="pessoa.endereco.bairro"><br>
  Cidade<input [(ngModel)]="pessoa.endereco.cidade"><br>
  UF<input [(ngModel)]="pessoa.endereco.uf"><br>
</div>