<h1>Lista de Livros</h1>
<div>
    <table class="table" > 
      <thead>
        <tr>
          <th>Título</th>
          <th>Data de Publicação</th>
          <th>Autor</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{livro.titulo}}</td>
          <td>{{livro.dataPublicacao}}</td>
          <td>{{livro.autor.nome}}</td>
          <td>{{livro.categoria.descricao}}</td>
          <td><button (click)="removerLivro(livro.id)">Excluir</button>
            <button (click)="alterarLivro(livro)" routerLink="/livro/create">Alterar</button> </td>
  
        </tr>
  
      </tbody>
  
  
    </table>
  
  
  </div>
  
  
  