<h1>App Component</h1>

<div>
  <a [routerLink]="[ '/pessoa/create' ]">Inserir Pessoa</a>
</div>
<div>
  <a [routerLink]="[ '/pessoa' ]">Listar Pessoas</a>
</div>
<div>
  <a [routerLink]="[ '/livro' ]">Listar Livros</a>
</div>
<div>
  <a [routerLink]="[ '/livro/create' ]">Inserir Livro</a>
</div>
<div>
    <a [routerLink]="[ 'livro/categoria' ]">Listar Categorias</a>
  </div>
<div>
  <a [routerLink]="[ 'livro/categoria/create' ]">Inserir Categoria</a>
</div>
<div>
  <a [routerLink]="[ 'livro/autor' ]">Listar Autores</a>
</div>
<div>
  <a [routerLink]="[ 'livro/autor/create' ]">Inserir Autor</a>
</div>


<router-outlet></router-outlet>
